<div class="container p-5">
  <div class="row">
    <div class="col-md-4 footerMtMobile col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <h5>FRANCE HQ</h5>
      <table class="margin-bottom20">
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-phone-fill ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">+33 6 95081194</button></td>
        </tr>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-mail-line ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">info@bakomotors.com</button></td>
        </tr>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-map-pin-line ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">48 Quai du Lazaret, 13002 Marseille</button></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4  col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <h5>GERMANY R&D</h5>
      <table class="margin-bottom20">
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-phone-fill ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">+49 176 97606699</button></td>
        </tr>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-mail-line ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">info@bakomotors.com</button></td>
        </tr>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-map-pin-line ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">Truderingerstr 564 München, Deutschland</button></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 footerMtMobile col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <h5>TUNISIA FACTORY</h5>
      <table>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-phone-fill ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">+216 31 324 045</button></td>
        </tr>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-mail-line ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">info@bakomotors.com</button></td>
        </tr>
        <tr>
          <td style="width:30px;" ><button class="footerValue d-flex align-items-center"><i class="ri-map-pin-line ri-xl"></i></button></td>
          <td><button class="footerValue d-flex align-items-left">B.P 64, Autoroute Tunis-Sousse, sortie Hamman-lif 2014, Tunis</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 mt-2 col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <div class="col-12 footerSubtitle">OUR SOCIAL MEDIA</div>
      <div class="col-12 mt-3 flex-direction-rows">
        <a href="https://www.facebook.com/bakomotors/" target="_blank" class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-facebook-fill ri-xl"></i></a>
        <a href="https://www.linkedin.com/company/bakomotors/?trk=public_profile_topcard-past-company&originalSubdomain=tn" target="_blank" class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-linkedin-fill ri-xl"></i></a>
        <a href="https://www.youtube.com/channel/UCLDzKccjrEImewtTZaPNipA" target="_blank" class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-youtube-fill ri-xl"></i></a>
        <a href="https://www.facebook.com/bakomotors/" target="_blank" class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-instagram-line ri-xl"></i></a>
      </div>
    </div>
    <div class="col-md-4 footerMtMobile col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <div class="col-12 footerSubtitle">KEEP IN TOUCH</div>
      <div class="col-12 mt-3 flex-direction-rows">
        <input class="footerInputStyle" type="email" placeholder="Enter your email...">
        <button class="footerSend d-flex align-items-center justify-content-center"><i class="ri-send-plane-2-fill ri-lg"></i></button>
      </div>
    </div>
    <div class="col-md-4 footerMtMobile d-flex align-items-end col-xl-4 col-xl-4 col-sm-12 col-xs-12">
      <div class="col-12 weight-600 text-center"><font>Bako  &copy; 2022</font><font class="privacy">Privacy and legacy</font></div>
    </div>
  </div>
</div>
