<app-nav-tech></app-nav-tech>
<div class="stickyFrame">
  <div class="stickyRow">
    <mat-card class="positionAnimation position-relative d-flex align-items-center">
      <div class="animationRow">
        <img class="backgroundFlou mobile-display" src="../../assets/imgs/deeptech/tech11.png">
        <img mat-card-image class="imageStyle mobileDesignForImage" src="../../assets/imgs/deeptech/tech11.png">
      </div>
      <div class="textHover text-center d-flex align-items-center justify-content-center"><font class="hvr-grow">Design care</font></div>
      <div class="row position-absolute arrow-direction">
        <div class="col-12 d-flex justify-content-center">
          <div class="arrowAnimation"><i class="ri-arrow-down-s-line ri-3x"></i></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="positionAnimation d-flex align-items-center">
      <div class="animationRow">
        <img class="backgroundFlou mobile-display" src="../../assets/imgs/deeptech/tech2.png">
        <img mat-card-image class="imageStyle mobileDesignForImage" src="../../assets/imgs/deeptech/tech2.png">
      </div>
      <div class="textHover text-center d-flex align-items-center justify-content-center"><font class="hvr-grow">Mecanic engineering power</font></div>
      <div class="row position-absolute arrow-direction">
        <div class="col-12 d-flex justify-content-center">
          <div class="arrowAnimation"><i class="ri-arrow-down-s-line ri-3x"></i></div>
        </div>
      </div>
    </mat-card>
    <mat-card class="positionAnimation d-flex align-items-center">
      <div class="animationRow">
        <img class="backgroundFlou mobile-display" src="../../assets/imgs/deeptech/tech3.png">
        <img mat-card-image class="imageStyle mobileDesignForImage" src="../../assets/imgs/deeptech/tech3.png">
      </div>
      <div class="textHover text-center d-flex align-items-center justify-content-center"><font class="hvr-grow">A mecatronics world</font></div>
      <div class="row position-absolute arrow-direction">
        <div class="col-12 d-flex justify-content-center">
          <div class="arrowAnimation"><i class="ri-arrow-down-s-line ri-3x"></i></div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
