.bakoNavBtn{
border:0;
color:black;
font-weight:500;
font-size:14px;
outline:none;
background:none;
padding:7px 0px 7px 0px;
margin-right:15px;
}

.souligne{
border-bottom:3px solid #e96230 !important;
}

.preorder{
background:white !important;
color:white !important;
transition:0.2s;
}


.navbarStyle{
height:14vh;
z-index:99 !important;
background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
box-shadow:none;
color:black;
}


.navbarStyle:hover .souligne{
border-color:black !important;
}
.navbarStyle:hover .bakoPreorderBtn{
opacity: 0.9;
}
.navbarStyle:hover .preorder{
color:black;
background:white;
border-color:white;
}
.navbarStyle:hover .bako-blue{
display:block;
}
.navbarStyle:hover .bako-white{
display:none;
}

.bakoPreorderBtn{
background:#e96230;
border:2px solid #e96230;
border-radius:30px;
padding:7px 25px 7px 25px;
outline:none;
color:white;
font-size:12px;
font-weight:500;
margin-left:10px;
}

.actif{
border-bottom:2px solid white;
}

/************MOBILE HEADER***************/

.mbNavbarStyle{
height:25vh;
z-index:99 !important;
background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.18);
-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.18);
}

.mbNavbarStyle .bakoNavBtn{
    color:black;
}

.mbNavbarStyle .souligne{
    border-bottom:3px solid black !important;
}