<div class="desktop-and-tablet">
  <nav class="navbar navbarStyle">
    <div class="container">
      <a class="navbar-brand" href="" routerLink="/home">
        <img class="bako-black" src="../../../assets/imgs/logo/bakoBlack.png" alt="" width="auto" height="auto">
      </a>
      <ul class="nav justify-content-center">
        <button routerLink="/home" class="bakoNavBtn">HOME</button>
        <button routerLink="/bako" class="bakoNavBtn">BAKO B1</button>
        <button routerLink="/tech"  class="bakoNavBtn">DEEP-TECH</button>
        <button routerLink="/news" class="bakoNavBtn souligne">NEWS</button>
      </ul>
      <ul class="nav justify-content-center">
        <button routerLink="/order" class="bakoPreorderBtn d-flex align-items-center"><i class="ri-shopping-cart-fill ri-lg"></i>&nbsp;BUY NOW</button>
      </ul>
    </div>
  </nav>
</div>
<div class="mobile-display">
  <nav class="navbar mbNavbarStyle">
    <div class="container-fluid d-flex justify-content-center flex-direction-column">
      <div class="row">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/imgs/logo/bakoBlack.png" alt="" width="auto" height="30px">
        </a>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
          <ul class="nav justify-content-center">
            <button routerLink="/home" class="bakoNavBtn">ACCUEIL</button>
            <button routerLink="/bako" class="bakoNavBtn">BAKO B1</button>
            <button routerLink="/tech"  class="bakoNavBtn">DEEP-TECH</button>
            <button routerLink="/news" class="bakoNavBtn souligne">NEWS</button>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
