<app-nav-bako></app-nav-bako>
<div class="container-fluid p-0 m-0 desktop-and-tablet">
  <div class="row position-relative">
    <div class="backgroundFrame p-0 d-flex align-items-center">
      <div class="backgroundRow">
        <img class="backgroundImage" src="../../assets/imgs/bakoPicture.jpg" />
      </div>
    </div>
    <div class="backgroundAbsolute"></div>
    <div class="row d-flex justify-content-center align-items-center position-absolute rowAbsolute">
      <div class="col-3">
        <mat-card (click)="changeDix()" class="cardLink" *ngIf="!bDix">
          <mat-card-header>
            <mat-card-title>B10</mat-card-title>
            <mat-card-subtitle>Flexibility - Sustainability - Security</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Discover</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card (click)="changeDix()" *ngIf="bDix" class="outline cardLink">
          <mat-card-header>
            <mat-card-title>B10</mat-card-title>
            <mat-card-subtitle>Flexibility - Sustainability - Security</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Discover</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card (click)="changeQuinze()" class="cardLink" *ngIf="!bVingt">
          <mat-card-header>
            <mat-card-title>B15</mat-card-title>
            <mat-card-subtitle>Flexibility - Sustainability - Security</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Discover</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card (click)="changeQuinze()" *ngIf="bVingt" class="outline cardLink">
          <mat-card-header>
            <mat-card-title>B15</mat-card-title>
            <mat-card-subtitle>Flexibility - Sustainability - Security</mat-card-subtitle>
            <mat-card-subtitle><button (click)="changeVingt()" class="discoverBtn">Discover</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card (click)="changeVingt()" class="cardLink" *ngIf="!bTrente">
          <mat-card-header>
            <mat-card-title>B20</mat-card-title>
            <mat-card-subtitle>Flexibility - Sustainability - Security</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Discover</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card (click)="changeVingt()" *ngIf="bTrente" class="outline cardLink">
          <mat-card-header>
            <mat-card-title>B20</mat-card-title>
            <mat-card-subtitle>Flexibility - Sustainability - Security</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Discover</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0 m-0 mobile-display">
  <div class="row position-relative">
    <div class="backgroundFrame p-0 d-flex align-items-center">
      <div class="backgroundRow">
        <img class="backgroundImage" src="../../assets/imgs/img7.jpg" />
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center position-absolute mobileRow rowAbsolute">
      <div class="col-12 text-center">
        <h4 class="color-white">Qorax</h4>
        <p class="color-white">Retrouver les différents modèles du véhicule selon leurs spécifités</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button (click)="changeDix()" *ngIf="!bDix" class="mbDiscoverBtn">BAKO B10</button>
        <button (click)="changeDix()" *ngIf="bDix" class="mbDiscoverBtn outline">BAKO B10</button>
        <button (click)="changeQuinze()" *ngIf="!bVingt" class="mbDiscoverBtn">BAKO B20</button>
        <button (click)="changeQuinze()" *ngIf="bVingt" class="mbDiscoverBtn outline">BAKO B20</button>
        <button (click)="changeVingt()" *ngIf="!bTrente" class="mbDiscoverBtn">BAKO B30</button>
        <button (click)="changeVingt()" *ngIf="bTrente" class="mbDiscoverBtn outline">BAKO B30</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!--  <div *ngIf="bDix">b10</div>-->
  <!--  <div *ngIf="bVingt">b20</div>-->
  <!--  <div *ngIf="bTrente">b30</div>-->
  <div class="row mt-4">
    <div class="col-3 desktop-and-tablet">
      <h4 class="uppercase carac-size">CHARACTERISTICS</h4>
      <table class="mt-4 mobile-right-align" width="100%">
        <tr>
          <td class="weight-600">MODEL</td>
          <td class="weight-600">POWER</td>
        </tr>
        <tr>
          <td *ngIf="bakoB10" class="value">B10</td>
          <td *ngIf="bakoB15" class="value">B15</td>
          <td *ngIf="bakoB20" class="value">B20</td>
          <td class="value">4000W</td>
        </tr>
        <tr>
          <td class="weight-600">LOADING CAPACITY</td>
          <td class="weight-600">CHARGING TIME</td>
        </tr>
        <tr>
          <td class="value">2000 Liters</td>
          <td class="value">80% in 2h</td>
        </tr>
        <tr>
          <td class="weight-600">PASSENGERS</td>
          <td class="weight-600">RANGE</td>
        </tr>
        <tr>
          <td class="value">2 persons</td>
          <td *ngIf="bakoB10" class="value">Up to 100km</td>
          <td *ngIf="bakoB15" class="value">Up to 150km</td>
          <td *ngIf="bakoB20" class="value">Up to 200km</td>
        </tr>
        <tr>
          <td class="weight-600">SPEED</td>
          <td class="weight-600">DRIVER LICENCE</td>
        </tr>
        <tr>
          <td class="value">45km/h</td>
          <td class="value">No need</td>
        </tr>
        <tr>
          <td class="weight-600">BATTERY TECHNOLOGY</td>
          <td class="weight-600">PRICE</td>
        </tr>
        <tr>
          <td class="value">Lithium iron phosphate</td>
          <td *ngIf="bakoB10" class="value">5000 $</td>
          <td *ngIf="bakoB15" class="value">6000 $</td>
          <td *ngIf="bakoB20" class="value">7000 $</td>
        </tr>
      </table>
      <button routerLink="/order" class="discoverDesktopBtn desktop-and-tablet">PRE-ORDER</button>
    </div>
    <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-center flex-direction-column">
      <!---<div class="col-12 d-flex justify-content-center">
        <button class="colorBtn colRed position-relative"><span class="descMsg">bako seen in red</span></button>
        <button class="colorBtn colGray position-relative"><span class="descMsg">bako seen in gray</span></button>
        <button class="colorBtn colBlack position-relative"><span class="descMsg">bako seen in black</span></button>
      </div>--->
      <div class="col-12 d-flex justify-content-center">
        <img *ngIf="left" class="animate__animated animate__flipInY" src="../../assets/imgs/rendering/left.png" width="70%">
        <img *ngIf="right" class="animate__animated animate__flipInY" src="../../assets/imgs/rendering/left.png" width="70%">
        <img *ngIf="face" class="animate__animated animate__flipInX" src="../../assets/imgs/rendering/face.png" width="70%">
        <img *ngIf="top" class="animate__animated animate__flipInX" src="../../assets/imgs/rendering/top.png" width="70%">
        <img *ngIf="before" class="animate__animated animate__flipInX" src="../../assets/imgs/rendering/before.png" width="70%">
      </div>
    </div>
    <div class="col-md-3 col-xl-3 col-lg-3 col-sm-12 col-xs-12">
      <div class="col-12 mb-5">
        <h5 align="center" class="uppercase desktop-and-tablet carac-size">viewer</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="manette desktop-and-tablet position-relative">
          <button *ngIf="top" (click)="showTop()" class="topButton selectedDirection d-flex align-items-center justify-content-center"><i
              class="ri-arrow-up-s-line ri-lg"></i>
            </button>
            <button *ngIf="!top" (click)="showTop()" class="topButton d-flex align-items-center justify-content-center"><i
              class="ri-arrow-up-s-line ri-lg"></i>
            </button>
          <button *ngIf="right" (click)="showRight()" class="rightButton selectedDirection d-flex align-items-center justify-content-center"><i
              class="ri-arrow-right-s-line ri-lg"></i>
            </button>
            <button *ngIf="!right" (click)="showRight()" class="rightButton d-flex align-items-center justify-content-center"><i
              class="ri-arrow-right-s-line ri-lg"></i>
            </button>
          <button *ngIf="before" (click)="showBefore()" class="bottomButton selectedDirection d-flex align-items-center justify-content-center"><i
              class="ri-arrow-down-s-line ri-lg"></i>
            </button>
            <button *ngIf="!before" (click)="showBefore()" class="bottomButton d-flex align-items-center justify-content-center"><i
              class="ri-arrow-down-s-line ri-lg"></i>
            </button>
          <button *ngIf="left" (click)="showLeft()" class="leftButton d-flex align-items-center selectedDirection justify-content-center"><i
              class="ri-arrow-left-s-line ri-lg"></i>
            </button>
            <button *ngIf="!left" (click)="showLeft()" class="leftButton d-flex align-items-center justify-content-center"><i
              class="ri-arrow-left-s-line ri-lg"></i>
            </button>
          <button *ngIf="face" (click)="showFace()" class="centerButton selector centerSelected d-flex align-items-center justify-content-center">A</button>
          <button *ngIf="!face" (click)="showFace()" class="centerButton selector d-flex align-items-center justify-content-center">A</button>
        
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-display">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="uppercase carac-size" align="center">CHARACTERISTICS</h4>
          <table class="mt-4" align="center" width="100%">
            <tr class="lineBorder" align="center">
              <td class="weight-600">MODEL</td>
              <td class="weight-600">POWER</td>
              <td class="weight-600">LOADING CAPACITY</td>
            </tr>
            <tr align="center">
              <td *ngIf="bakoB10" class="value">B10</td>
              <td *ngIf="bakoB15" class="value">B15</td>
              <td *ngIf="bakoB20" class="value">B20</td>
              <td class="value">50km/h</td>
              <td class="value">2000 Liters</td>
            </tr>
            <tr class="lineBorder" align="center">
              <td class="weight-600">CHARGING TIME</td>
              <td class="weight-600">PASSENGERS</td>
              <td class="weight-600">RANGE</td>
            </tr>
            <tr align="center">
              <td class="value">80% in 2h</td>
              <td class="value">2 persons</td>
              <td *ngIf="bakoB10" class="value">Up to 100km</td>
              <td *ngIf="bakoB15" class="value">Up to 150km</td>
              <td *ngIf="bakoB20" class="value">Up to 200km</td>
            </tr>
            <tr class="lineBorder" align="center">
              <td class="weight-600">SPEED</td>
              <td class="weight-600">DRIVER LICENCE</td>
              <td class="weight-600">BATTERY TECHNOLOGY</td>
            </tr>
            <tr align="center">
              <td class="value">45km/h</td>
              <td class="value">No need</td>
              <td class="value">Lithium iron phosphate</td>
            </tr>
            <tr class="lineBorder" align="center">
              <td class="weight-600">PRICE</td>
              <td class="weight-600"></td>
              <td class="weight-600"></td>
            </tr>
            <tr align="center">
              <td *ngIf="bakoB10" class="value">5000 $</td>
              <td *ngIf="bakoB15" class="value">6000 $</td>
              <td *ngIf="bakoB20" class="value">7000 $</td>
              <td class="value"></td>
              <td class="value"></td>
            </tr>
          </table>
          <button routerLink="/order" class="discoverDesktopBtn desktop-and-tablet">PRE-ORDER</button>
        </div>
      </div>
    </div>
    <div class="navbar viewNav fixed-bottom">
      <div class="container d-flex justify-content-center">
        <div class="row width-100">
          <div>
            <h6 align="center">VIEWER</h6>
          </div>
        </div>
      </div>
      <ul class="nav width-100 justify-content-center">
        <button class="viewButton d-flex align-items-center justify-content-center"><i
            class="ri-arrow-left-s-line ri-lg"></i></button>
        <button class="viewButton d-flex align-items-center justify-content-center"><i
            class="ri-arrow-up-s-line ri-lg"></i></button>
        <button class="viewButton selector d-flex align-items-center justify-content-center">A</button>
        <button class="viewButton d-flex align-items-center justify-content-center"><i
            class="ri-arrow-down-s-line ri-lg"></i></button>
        <button class="viewButton d-flex align-items-center justify-content-center"><i
            class="ri-arrow-right-s-line ri-lg"></i></button>
      </ul>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>